src/main/java/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://www.czy.org/schema/user"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.czy.org/schema/user">

	<xsd:element name="user">
        <xsd:complexType>
			<xsd:attribute name="id" type="xsd:string" />
			<xsd:attribute name="name" type="xsd:string" />
			<xsd:attribute name="email" type="xsd:string" />
		</xsd:complexType>
    </xsd:element>
</xsd:schema>